#ex01 .wrapper .box:hover{
    background: var(--midnight-green);
}
 
#ex02 .wrapper .box{
    transition: background 0.5s;
}
 
#ex02 .wrapper .box:hover{
    background: var(--midnight-green);
}
 
#ex03 .wrapper .box {
    transition: background 0.5s 0.5s;
}
 
#ex03 .wrapper .box:hover{
    background: var(--midnight-green);
}

#ex04 .wrapper .box {
    transition: all 0.3s 0.3s;
}

#ex04 .wrapper .box:hover {
    background: var(--midnight-green);
    color: var(--beige);
}

#ex05 .wrapper .box {
    transition: background 0.3s 0.3s;
    transition-delay: color 0.4s 0.1s;
}

#ex05 .wrapper .box:hover {
    background: var(--midnight-green);
    color: var(--beige);
}

#ex06 .wrapper .box {
    transition: background 0.5s;
}

#ex06 .wrapper:hover .box {
    background: var(--midnight-green);
}

#ex07 .wrapper .box {
    transition: background 0.5s;
}

#ex07 .wrapper:hover .box {
    background: var(--midnight-green);
}

#ex07 .wrapper .box:nth-child(2) {
    transition-delay: 0.3s;
}

#ex07 .wrapper .box:nth-child(3) {
    transition-delay: 0.6s;
}

#ex08 .wrapper,
#ex08 .wrapper .box {
    transition: background 0.5s;
}

#ex08 .wrapper:hover {
    background: var(--midnight-green);
}

#ex08 .wrapper:hover .box {
    background: var(--beige);
}

#ex09 .wrapper,
#ex09 .wrapper .box {
    transition: background 0.5s;
}

#ex09 .wrapper:hover {
    background: var(--midnight-green);
}

#ex09 .wrapper:hover .box {
    background: var(--beige);
    transition-delay: 0.5s;
}

#ex10 .wrapper .box {
    transition: transform 0.5s;
}

#ex10 .wrapper .box:hover {
    transform: translateY(20px);
}

#ex11 .wrapper .box {
    transition: transform 0.5s;
}

#ex11 .wrapper .box:hover {
    transform: rotate(90deg);
}

#ex12 .wrapper .box {
    transition: transform 0.5s;
}

#ex12 .wrapper .box:hover {
    transform: scale(137%);
}
